The main aim of this project it to use the new library called geopandas. Using this library we will be able to produce the location information for the most visted places on wikipedia and then plot all the locations on the map.

In [1]:
import pandas as pd
from geopandas.tools import geocode

importing data from the wikipedia link.

In [2]:
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_most_visited_palaces_and_monuments')

check the data to see what have we captured

In [3]:
data

[   National monuments by visitors per year  \
                                        No.
 0                                        1
 1                                        2
 2                                        3
 3                                        4
 4                                        5
 5                                        6
 6                                        7
 7                                        8
 8                                        9
 9                                       10
 10                                      11
 11                                      12
 12                                      13
 13                                      14
 14                                      15
 15                                      16
 16                                      17
 17                                      18
 18                                      19
 19                                      20
 20                                      21
 21                                      22
 22                                      23
 23                                      24
 24                                      25
 25                                      26
 26                                      27
 27                                      28
 28                                      29
 29                                      30
 30                                      31
 31                                      32
 32                                      33
 33                                      34
 34                                      35
 35                                      36
 36                                      37
 37                                      38
 38                                      39
 39                                      40
 40                                      41
 41                                      42
 42                                      43
 43                                      44

                                                                           \
                                                  Name Country flag, city
 0                                      Forbidden City            Beijing
 1                                St. Peter's Basilica       Vatican City
 2                                Palace of Versailles         Versailles
 3                                    Lincoln Memorial   Washington, D.C.
 4               Colosseum-Forum-Palatine Hill Circuit               Rome
 5                                           Parthenon             Athens
 6                                           Taj Mahal               Agra
 7                                        Eiffel Tower              Paris
 8                                   Cologne Cathedral            Cologne
 9                                     Peterhof Palace   Saint Petersburg
 10                          Vietnam Veterans Memorial   Washington, D.C.
 11                              World War II Memorial   Washington, D.C.
 12              Independence National Historical Park       Philadelphia
 13                                    Sagrada familia          Barcelona
 14                Statue of Liberty National Monument      New York City
 15                                        Teotihuacán        Teotihuacán
 16                        National Palace Museum[iii]             Taipei
 17                                      Mysore Palace             Mysore
 18                 Tsarskoe Selo State Museum-Reserve   Saint Petersburg
 19                                            Pompeii             Naples
 20                                      Musée d'Orsay              Paris
 21                                     Wilanów Palace             Warsaw
 22                                  Schönbrunn Palace             Vienna
 23                                      Kazan Kremlin              Kazan
 24                                    Tower of London             London
 25                                           Alhambra            Granada
 26                                       Chichén Itzá            Yucatán
 27                                 Chapultepec Castle        Mexico City
 28                 Ciudad de las Artes y las Ciencias           Valencia
 29                                    Statue of Unity           Kevadiya
 30                                     Moscow Kremlin             Moscow
 31          Battle of Stalingrad State Museum-Reserve          Volgograd
 32                                              Tulum       Quintana Roo
 33                                    Łazienki Palace             Warsaw
 34             Auschwitz-Birkenau Memorial and Museum           Oświęcim
 35                                     Topkapı Palace           Istanbul
 36                                   Edinburgh Castle          Edinburgh
 37                        Mosque–Cathedral of Córdoba            Córdoba
 38                           Royal Alcázar of Seville            Seville
 39                                    Arc de Triomphe              Paris
 40                             Royal Palace of Madrid             Madrid
 41                              Neuschwanstein Castle     Hohenschwangau
 42                                       Machu Picchu              Cusco
 43  Castillo San Felipe del Morro (Old San Juan Hi...           San Juan


    Visitors per year Year reported Notes
 0        17,000,000+       2018[1]   NaN
 1           11000000    2018[2][3]   NaN
 2            8100000       2018[4]   NaN
 3            7804683       2018[5]   NaN
 4            7650519       2018[6]   NaN
 5            7200000       2016[7]   NaN
 6            7090207      2018 [8]   NaN
 7            7000000       2017[9]   NaN
 8            6000000      2018[10]   NaN
 9            5245900      2016[11]   NaN
 10           4719148       2018[5]   NaN
 11           4652865      2018[12]   NaN
 12           4576436       2018[5]   NaN
 13           4500000     2018 [13]   NaN
 14           4335431       2018[5]   NaN
 15           4070000      2018[14]   NaN
 16           3900000  2018[15][16]   NaN
 17           3861162      2019[17]   NaN
 18           3694000      2016[11]   NaN
 19           3646585     2018 [18]   NaN
 20           3300000      2018[19]   NaN
 21           3098985      2016[20]   NaN
 22           3050000      2017[21]   NaN
 23           2893300      2016[11]   NaN
 24           2858336      2018[22]   NaN
 25           2760000      2018[23]   NaN
 26           2740000      2018[24]   NaN
 27           2661615      2018[25]   NaN
 28           2637567      2018[26]   NaN
 29        2,600,000+      2019[27]   NaN
 30           2478622      2016[28]   NaN
 31           2359300      2016[11]   NaN
 32           2190000      2018[29]   NaN
 33           2100000      2016[20]   NaN
 34           2053000      2016[30]   NaN
 35           2000000      2017[31]   NaN
 36           2111578      2018[32]   NaN
 37           1953133      2018[33]   NaN
 38           1875744      2018[34]   NaN
 39           1583260          2017   NaN
 40           1552481      2018[35]   NaN
 41           1500000      2017[36]   NaN
 42           1411276      2017[37]   NaN
 43           1400000      2016[38]   NaN  ]

get the values in excel, this way we can rename the columns and use it, further read this file into pandas dataframe

In [4]:
for monuments in data:
    monuments.to_excel('mostvisted_places.xlsx', header= False,encoding='utf-16')
    monuments= pd.read_excel('mostvisted_places.xlsx', 
                            usecols = [2,3,4],
                            names =['Names', 'Location','Visitors'],
                            header = None,
                            skiprows = 1)

Check what all columns are being pulled from the data in monument dataframe

In [5]:
monuments.head(5)

                                   Names          Location     Visitors
0                         Forbidden City           Beijing  17,000,000+
1                   St. Peter's Basilica      Vatican City     11000000
2                   Palace of Versailles        Versailles      8100000
3                       Lincoln Memorial  Washington, D.C.      7804683
4  Colosseum-Forum-Palatine Hill Circuit              Rome      7650519

We will be iterating through the monuments to get latitude,longitude and address information for each of the monument present in the file. Some of the names will cause errors and will not produce output based on the name provided. These will be populated by Nan values.

In [6]:
for index, row in monuments.iterrows():
    try:
        ##print(row['Names'])
        info = geocode(str(row['Names']), provider= 'Nominatim',user_agent='myGeocoder')
        monuments.loc[int(index), 'Address'] = info['address'].loc[0]
        monuments.loc[int(index),'lon'] = info['geometry'].loc[0].x
        monuments.loc[int(index),'lat'] = info['geometry'].loc[0].y
    except TypeError:
        pass

In [7]:
monuments.head(5)

,Names,Location,Visitors,Address,lon,lat
0,Forbidden City,Beijing,"17,000,000+","故宫, 西华门大街, 西城区, 北京市, 100032, 中国",116.390769,39.917276
1,St. Peter's Basilica,Vatican City,11000000,"Basilica Sancti Petri, Forum Sancti Petri, Cit...",12.453712,41.902157
2,Palace of Versailles,Versailles,8100000,"Château de Versailles, Cour du Dauphin, Notre-...",2.120285,48.804425
3,Lincoln Memorial,"Washington, D.C.",7804683,"Lincoln Memorial, Lincoln Memorial Circle SW, ...",-77.050121,38.889323
4,Colosseum-Forum-Palatine Hill Circuit,Rome,7650519,NaN,NaN,NaN

Removing the Names with Nan value, in this current files we only have 43 elements so we can go ahead and clean them. In the next step however I have deleted records with Nan values

In [8]:
(monuments.dropna()).head(5)

,Names,Location,Visitors,Address,lon,lat
0,Forbidden City,Beijing,"17,000,000+","故宫, 西华门大街, 西城区, 北京市, 100032, 中国",116.390769,39.917276
1,St. Peter's Basilica,Vatican City,11000000,"Basilica Sancti Petri, Forum Sancti Petri, Cit...",12.453712,41.902157
2,Palace of Versailles,Versailles,8100000,"Château de Versailles, Cour du Dauphin, Notre-...",2.120285,48.804425
3,Lincoln Memorial,"Washington, D.C.",7804683,"Lincoln Memorial, Lincoln Memorial Circle SW, ...",-77.050121,38.889323
5,Parthenon,Athens,7200000,"Παρθενώνας, Περίπατος Ακρόπολης (Νότια κλιτύς)...",23.726650,37.971514

In [9]:
(monuments.dropna()).to_excel('linkofMonumnents.xlsx')

next steps are to pull this values from excel and plot it on the maps."

In [10]:
import folium
import pandas as pd

In [11]:
dataset = pd.read_excel('linkofMonumnents.xlsx')

Reading the file and checking which columns are needed. In this example we will be deleting the unnnamed: 0 column since this column is not providing us with enough value.

In [12]:
dataset.head(5)

,Unnamed: 0,Names,Location,Visitors,Address,lon,lat
0,0,Forbidden City,Beijing,"17,000,000+","故宫, 西华门大街, 西城区, 北京市, 100032, 中国",116.390769,39.917276
1,1,St. Peter's Basilica,Vatican City,11000000,"Basilica Sancti Petri, Forum Sancti Petri, Cit...",12.453712,41.902157
2,2,Palace of Versailles,Versailles,8100000,"Château de Versailles, Cour du Dauphin, Notre-...",2.120285,48.804425
3,3,Lincoln Memorial,"Washington, D.C.",7804683,"Lincoln Memorial, Lincoln Memorial Circle SW, ...",-77.050121,38.889323
4,5,Parthenon,Athens,7200000,"Παρθενώνας, Περίπατος Ακρόπολης (Νότια κλιτύς)...",23.726650,37.971514

In [13]:
del dataset['Unnamed: 0']

In [14]:
dataset.head(5)

,Names,Location,Visitors,Address,lon,lat
0,Forbidden City,Beijing,"17,000,000+","故宫, 西华门大街, 西城区, 北京市, 100032, 中国",116.390769,39.917276
1,St. Peter's Basilica,Vatican City,11000000,"Basilica Sancti Petri, Forum Sancti Petri, Cit...",12.453712,41.902157
2,Palace of Versailles,Versailles,8100000,"Château de Versailles, Cour du Dauphin, Notre-...",2.120285,48.804425
3,Lincoln Memorial,"Washington, D.C.",7804683,"Lincoln Memorial, Lincoln Memorial Circle SW, ...",-77.050121,38.889323
4,Parthenon,Athens,7200000,"Παρθενώνας, Περίπατος Ακρόπολης (Νότια κλιτύς)...",23.726650,37.971514

Selecting the type of map on which we want to display the data and the zoom level allowed on that map.

In [15]:
m= folium.Map(title='openstreetman',zoom_starts = 2)

Iterate through the dataset and plot each lat and lon values on the map and finally save it to html file. To see the results just open the html file.

In [16]:
for index, row in dataset.iterrows():
    folium.Marker([row['lat'], row['lon']], popup = row['Names']+'</br> total number of visitors:'+row['Visitors'] ).add_to(m)
    m.save('Map_for_monuments.html')